//Colors
$color-brand: #2ecc71;
$color-brand-light: #29e342;
$color-brand-dark: #29e3ab;

$color-red: #ff0033;
$color-brand-v-light: #27d9d6;

$color-dark: #252525;
$color-grey: #6d6d6d;

$color-brand-gradient: linear-gradient(
  160.71deg,
  #29e3ab -4.17%,
  #2ecc71 59.43%,
  #29e342 128.56%
);
