.role-control {
  border: none;
  label {
    display: flex;
    align-items: center;
  }
  font-size: 2rem;
  margin-bottom: 1rem;
  & input {
    display: none;
    &:checked + label .custom-radio::after {
      background: $color-brand;
    }
  }
}
.custom-radio {
  display: inline-block;
  border: 3px solid $color-brand;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position: relative;

  &::after {
    display: block;
    content: "";
    @include center;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: transparent;
    transition: background 0.2s ease-out;
  }
}
